#player-black {
    background-color: black;
    color: white;
}

#player-blue {
    background-color: blue;
    color: white;
}

#player-green {
    background-color: green;
    color: white;
}

#player-pink {
    background-color: pink;
}

#player-red {
    background-color: red;
    color: white;
}

#player-yellow {
    background-color: yellow;
}

.main-container {
    margin: 0 auto;
    width: 800px;

}

.player-score {
    cursor: pointer;
}